<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
     <form @submit.prevent="submitForm()">
        <p v-if="errors.length">
            <b>Please Correct the Following errors :</b>
            <ul>
                <li v-for="error in errors">{{ error}} ></li>
            </ul>
        </p>

         <label>Nama :  </label>
         <input type="text" name="name" v-model="name">
         <label>Alamat :  </label>
         <textarea name="address" ref="address" v-model="address"></textarea>
         <label>No HP</label>
         <input type="number" name="no_hp" v-model="no_hp" >
         <input type="submit" value="SUBMIT">
     </form>

     <br><br>

     <table border=1>
         <tr v-for="blog of blogs">
             <td>
                <img width=100 src="https://dummyimage.com/16:9x1080" alt="">
             </td>
             <td>
                 <b>Title : </b> {{ blog.name }} <br>
                 <b>Deskripsi : </b> {{ blog.address}} <br>
                 <b>No HP : {{blog.no_hp}} </b>

             </td>
             <td>
                 <button>Edit</button>
                 <button>Hapus</button>
                 <button>Upload Foto</button>
             </td>
         </tr>

     </table>
     
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue ({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members:[],

            },

            methods: {
                validationForm: function(){
                    this.errors = []


                    if(this.name.length < 5){
                        this.errors.push('Title minimal 5 karakter')
                        this.$refs.name.focus()
                    
                    }else if(this.address.length > 15){
                        this.errors.push('Deskripsi tidak boleh lebih dari 15 karakter')
                        this.$refs.address.focus()

                    }else if(this.no_hp.length > 15){
                        this.errors.push('Deskripsi tidak boleh lebih dari 15 karakter')
                        this.$refs.no_hp.focus()
                    }
                },

                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                },

                submitForm: function(){
                    
                    this.validationForm()

                    if(this.errors.length ===0){
                        let formData = new FormData()
                        formData.append('name' , this.name)
                        formData.append('address' , this.address)
                        formData.append('no_hp' , this.no_hp)

                        const config = {
                            method : "post",
                            url : "http://demo-api-vue.sanbercloud.com/api/member",
                            data:formData
                        }

                        axios(config)
                            .then ( (response) => {
                                this.clearForm ()
                                this.getmembers()
                                alert(response.data.message)
                            })
                            .catch( (error)=> {
                                console.log(error.message)
                            })

                        
                        
                    }
                },

                getmembers : function(){
                    
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then ( (response) => {
                            this.getmembers()
                            this.blogs = response.data.members
                        })
                        .catch( (error)=> {
                            console.log(error)
                        })

                },

            },
            created(){
                    this.getmembers()
                }
        })
    </script>
    
</body>
</html>