<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
        <input
        type="text"
        name="keyword"
        id="keyword"
        autocomplete="off"
        v-model="keyword"
        />
    </form>





    <p> List materi</p>
    <ul>
        <li v-for="list in lists">{{ list }}</li>
    </ul>
  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        keyword: "",
        lists : [
            "Kalkulus Dasar",
            "Fisika dasar",
            "Aljabar dasar",
            "Algoritma dasar",
        ], 
      },
  })

  </script>
</body>
</html>